.headerContact {
  width: 100%;
  margin-bottom: 62px;

  > span {
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    font-weight: 600;
    font-size: 0.75rem;
    margin-bottom: 0.9375rem;
    background-color: var(--color-highlight);
    color: var(--color-letter-detail);
  }

  > h2 {
    font-weight: 800;
    color: var(--color-letter);
    font-size: 1.875rem;
  }
}
