.infoMainAbout {
  list-style: none;

  > li {
    display: flex;
    align-items: center;

    > p:first-child {
      min-width: 7.5rem;
      margin-right: 0.625rem;
      font-weight: 700;
      color: var(--color-letter);
      text-transform: capitalize;
    }

    > p:last-child {
      font-size: 15px;
      line-height: 30px;
      letter-spacing: 0.5px;
      word-wrap: break-word;
      color: var(--color-letter-detail);
    }
  }

  @media screen and (max-width: 750px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  @media screen and (max-width: 320px) {
    >li {
      > p:first-child {
        margin-right: 0rem;
        min-width: 6rem;
        font-size: 13px;
      }
      > p:last-child {
        font-size: 12px;
      }
    }
  }
}
