.aboutContainer {
  width: 100%;
  min-height: 100vh;
  padding-left: 28.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 1250px) {
    padding: 4.375rem 1rem 1rem;
    align-items: flex-start;
  }
}
