.imgAbout {
  width: 100%;
  margin-bottom: 2.1875rem;
  > div {
    width: 100%;
    height: 35rem;
    background-image: url("../../../assets/pexels-luis-gomes-546819.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
